@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-black text-white font-sans; /* fond noir et texte blanc */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-electric-blue; /* titres en gras et bleu électrique */
}

a {
    @apply text-primary-blue hover:text-electric-blue transition duration-300 ease-in-out; /* Liens */
    text-decoration: none;
}

ul {
    @apply list-none; /* permet de supprimer les puces des listes */
    padding: 0;
    margin: 0;
}

button {
    @apply bg-primary-blue px-4 py-2 text-white rounded hover:bg-electric-blue transition duration-300 ease-in-out;
    border: none;
    cursor: pointer;
}

input, textarea {
    @apply border border-gray-600 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-electric-blue;
    @apply bg-black text-white;
    margin-bottom: 1rem;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes parallax {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-out;
  }
  
  .animate-parallax {
    animation: parallax 3s ease-in-out infinite alternate;
  }
  
  .animate-gradient {
    background-size: 400% 400%;
    animation: gradientBG 6s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  p {
    text-align: justify;
  }

 
.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background: linear-gradient(to bottom right, #1a2443, #0d121a);
  border: 1px solid #4a5568;
  font-size: 1.125rem; /* augmenter taille*/
}

.table th,
.table td {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #4a5568;
  border-right: 1px solid #4a5568;
  vertical-align: middle;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.table th {
  background: linear-gradient(to right, #00d4ffb3, #00d4ff66);
  color: black;
  font-weight: 600;
}

.table tbody tr:hover {
  background-color: #2d3748;
  transition: background-color 0.3s ease;
}

.table-container {
  overflow-x: auto;
  margin: 0 auto;
  max-width: 90%; 
}

  
  